@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e5d8cb;
  color: #28282B;
}

.calculator{
  background: #F8F8FF;
  width: 100%;
  max-width: 24em;
  min-height: 39em;
  border-radius: 1.5rem;
  box-shadow: -6px 8px 9px 0px #46494C;
}

.display{
  text-align: right;
  padding: 1.5rem;
}

.sub-display{
  font-size: 1.5rem;
  height: 2rem;
}

.main-display{
  font-size: 3rem;
}

.keypad{
  display: grid;
  grid-template-columns: repeat(4, 6em);
  grid-template-rows: repeat(5, 6em);
}

button{
  background: #f2f2f2;
  font-size: 1.5rem;
}

button:hover{
  background: #d2d6d7;
}

button:active{
  transform: translateY(.8px);
}